In [8]:
library(readr)
library(dplyr)

In [9]:
setwd("G:/NJIT/DAR/Homework questions/Homework 2")

In [10]:
IBM=read_csv(file='IBM.csv',col_types = cols())
MSFT=read_csv(file='MSFT.csv',col_types = cols())
GOOG=read_csv(file='GOOG.csv',col_types = cols())
AAPL=read_csv(file='AAPL.csv',col_types = cols())
AMZN=read_csv(file='AMZN.csv',col_types = cols())
FB=read_csv(file='FB.csv',col_types = cols())

In [14]:
divid=function(x)
{   
    data_set=x[,c(1,5,6)]
    data_set$differnce1=data_set$Close -lag(data_set$Close,1)
    data_set$differnce2=data_set$'Adj Close' -lag(data_set$'Adj Close',1)
    data_set=mutate(data_set,differnce=data_set$differnce1-data_set$differnce2)
    data_set=mutate(data_set,divid=data_set$differnce*data_set$Close)
    data_set=subset(data_set,(divid!='0'))
    data_set[,c(1,7)]
}

In [25]:
ibm=divid(IBM)
msft=divid(MSFT)
goog=divid(GOOG)
aapl=divid(AAPL)
amzn=divid(AMZN)
fb=divid(FB)

In [29]:
'IBM'
head(ibm)
'MSFT'
head(msft)
'GOOG'
head(goog)
'AAPL'
head(aapl)
'AMZN'
head(amzn)
'FB'
head(fb)

[1] "IBM"

  Date       divid
1 2018-01-03 64.84349
2 2018-01-04 50.08722
3 2018-01-05 12.38954
4 2018-01-08 15.45756
5 2018-01-09  5.69211
6 2018-01-10  5.54403

[1] "MSFT"

  Date       divid
1 2018-01-03  1.0823109
2 2018-01-04  2.0749602
3 2018-01-05  2.9853198
4 2018-01-08  0.2485965
5 2018-01-09 -0.1655889
6 2018-01-10 -1.1015263

[1] "GOOG"

     Date divid

[1] "AAPL"

  Date    divid
1 1/3/18  -0.1629296
2 1/4/18   4.3852723
3 1/5/18  10.9215750
4 1/8/18  -3.5916101
5 1/9/18  -0.1115712
6 1/10/18 -0.2208254

[1] "AMZN"

     Date divid

[1] "FB"

     Date divid