In [ ]:
1.20 The built-in data set islands contains the size of the world’s land masses that
exceed 10,000 square miles. Use sort() with the argument decreasing=TRUE to
find the seven largest land masses.

In [1]:
data("islands")
sort(islands, decreasing = TRUE)[1:7]

         Asia        Africa North America South America    Antarctica
        16988         11506          9390          6795          5500
       Europe     Australia
         3745          2968

In [ ]:
#loading required libraries

In [3]:
library(MASS)
library(HistData)
library(lattice)
library(survival)
library(Formula)
library(ggplot2)
library(Hmisc)
library(UsingR)

In [ ]:
1.21 Load the data set primes (UsingR). This is the set of prime numbers in
[1,2003]. How many are there? How many in the range [1,100]? [100,1000]?

In [4]:
data("primes")
length(primes)

[1] 304

In [5]:
length(primes[primes <= 100])

[1] 25

In [6]:
length(primes[primes>=100 & primes <= 1000])

[1] 143

In [ ]:
1.22 Load the data set primes (UsingR). We wish to find all the twin primes. These
are numbers p and p+2, where both are prime.
1. Explain what primes[−1] returns.
2. If you set n=length (primes), explain what primes[−n] returns.
3. Why might primes [−1]—primes [−n] give clues as to what the twin primes are?
How many twin primes are there in the data set?

In [ ]:
[-1] returns all the prime elements in the list except the first elements

In [7]:
head(primes[-1])

[1]  3  5  7 11 13 17

In [ ]:
[-n] returns all the primes elements in the list except the last elements

In [8]:
n <- length(primes)
tail(primes[-n])

[1] 1973 1979 1987 1993 1997 1999

In [ ]:
primes[-1]-primes[-n] give us a vector that includes the difference between two neighbouring prime numbers, 
then we check the number of elements that are equal to 2 in this vector,
this implies the twin prime numbers.

In [9]:
sum(primes[-1]-primes[-n]==2)

[1] 61

In [ ]:
1.23 For the data set treering, which contains tree-ring widths in dimension-less
units, use an R function to answer the following:
1. How many observations are there?
2. Find the smallest observation.
3. Find the largest observation.
4. How many are bigger than 1.5?

In [10]:
data("treering")
length(treering)

[1] 7980

In [11]:
min(treering)

[1] 0

In [12]:
max(treering)

[1] 1.908

In [13]:
sum(treering>1.5)

[1] 219

In [ ]:
1.24 The data set mandms (UsingR) contains the targeted color distribution in a
bag of M&Ms as percentages for varies types of packaging. Answer these
questions.
1. Which packaging is missing one of the six colors?
2. Which types of packaging have an equal distribution of colors?
3. Which packaging has a single color that is more likely than all the others? What
color is this?

In [14]:
data("mandms")
names(which(rowSums(mandms==0)==1))

[1] "Peanut Butter"

In [15]:
names(which(rowSums(mandms==rowMeans(mandms))==6))

[1] "Almond"    "kid minis"

In [16]:
names(which(rowSums(mandms==max(mandms))==1))

[1] "milk chocolate"

In [17]:
names(which(colSums(mandms==max(mandms))==1))

[1] "brown"

In [ ]:
1.25 The t imes variable in the data set nym. 2002 (UsingR) contains the time to
finish for several participants in the 2002 New York City Marathon. Answer these
questions.
1. How many times are stored in the data set?
2. What was the fastest time in minutes? Convert this into hours and minutes using R.
3. What was the slowest time in minutes? Convert this into hours and minutes using R.

In [18]:
data("nym.2002")
length(nym.2002$time)

[1] 1000

In [19]:
fastest <- min(nym.2002$time)

In [20]:
fastest

[1] 147.3333

In [21]:
paste(fastest %/% 60, round(fastest %% 60),sep=":")

[1] "2:27"

In [22]:
slowest <- max(nym.2002$time)
slowest
paste(slowest %/% 60, round(slowest %% 60), sep=":")

[1] 566.7833

[1] "9:27"

In [ ]:
1.26 For the data set rivers, which is the longest river? The shortest?

In [23]:
data("rivers")
max(rivers)

[1] 3710

In [24]:
min(rivers)

[1] 135

In [ ]:
1.27 The data set uspop contains decade-by-decade population figures for the
United States from 1790 to 1970.
1. Use names() and seq() to add the year names to the data vector.
2. Use diff() to find the inter-decade differences. Which decade had the greatest increase?
3. Explain why you could reasonably expect that the difference will always increase with each
decade. Is this the case with the data?

In [25]:
data("uspop")
names(uspop) <- seq(1790,1970,by=10)
uspop

A Time Series:
  1790   1800   1810   1820   1830   1840   1850   1860   1870   1880   1890
  3.93   5.31   7.24   9.64  12.90  17.10  23.20  31.40  39.80  50.20  62.90
  1900   1910   1920   1930   1940   1950   1960   1970
 76.00  92.00 105.70 122.80 131.70 151.30 179.30 203.20

In [26]:
delta <- diff(uspop)
uspop[c(which.max(delta),which.max(delta)+1)]

 1950  1960
151.3 179.3

In [27]:
max(delta)

[1] 28

In [ ]:
In the past 200 years the life quality of united states people is better and better, which leads to increase in population.
The following results of the given data also indicates that the inter-decade difference always increases. 
(TRUE means increase, FALSE means decrease).

In [28]:
delta > 0

A Time Series:
 [1] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE
[16] TRUE TRUE TRUE